<div id="project-explorer">
    <h3>Project Explorer</h3>
    <div *ngFor="let item of projectStructure">
      <div
        class="folder"
        (click)="toggleFolder(item)"
        [class.open]="item.open"
        (contextmenu)="onRightClick($event,'folder:'+item.name)"
      >
        {{ item.name }}
      </div>
      <div class="files" *ngIf="item.children && item.open">
        <div *ngFor="let child of item.children" class="file">
          {{ child.name }}
        </div>
      </div>
    </div>
  </div>
  