<div id="menu-bar">
    <div class="menu-item">
      File
      <div class="menu-dropdown">
        <div class="menu-dropdown-item">New</div>
        <div class="menu-dropdown-item" (click)="toggleFolderSelection()">Open</div>
        <div class="menu-dropdown-item">Save</div>
        <div class="menu-dropdown-item">Exit</div>
      </div>
    </div>
    <div class="menu-item">
      Edit
      <div class="menu-dropdown">
        <div class="menu-dropdown-item">Undo</div>
        <div class="menu-dropdown-item">Redo</div>
        <div class="menu-dropdown-item">Cut</div>
        <div class="menu-dropdown-item">Copy</div>
        <div class="menu-dropdown-item">Paste</div>
      </div>
    </div>
    <div class="menu-item">View</div>
    <div class="menu-item">Help</div>
  </div>
  <app-folder-selector *ngIf="folderSelectorOpen"></app-folder-selector>
  