<app-menu-bar (notifyProjectOpen)="handleProjectImported($event)"></app-menu-bar>
<div id="workspace">
  <app-project-explorer (notifyRightClick)="handleRightClick($event)" (notifyFileOpen)="handleFileOpen($event)" [projectImported]="projectImported"></app-project-explorer>
  <div id="editor">
    <app-editor [file]="fileOpen"></app-editor>
    <div id="console">Console Output</div>
  </div>
</div>
<div id="status-bar">Ready</div>
<app-context-menu *ngIf="isContextMenuVisible" [menuPosition]="getMenuPosition()"></app-context-menu>
